.floating-banner::after{
    content: "";
    position: absolute;
    top: 30px;
    left: -0.2px;
    border: 6px solid transparent;
    border-top: 12px solid #B04000;
    border-left: 12px solid transparent;
    z-index: -1;

}

@media (min-width: 768px) {
    .floating-banner::after{
        border-top: 12px solid #99CDFF;
    }
}